<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <meta name="author" content="Justin Wu">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Justin Wu professional website">
    <title>Your name</title>

</head>
<body>

    <header>
    <h1>Justin Wu</h1>
    <nav>
        <a href="../index.html">Home</a>
        <a href="cv.html">CV</a>
        <a href="contact.html">Contact me</a>
        <a href="fun.html">For fun</a>
    </nav>
    </header>

    <div class="main">
        <h2>Contact Me</h2>
        <form action="/action_page.php" method="get">   
            <label for="name">Name:</label>
            <input type="text" id="name" name="name"><br><br>
            <label for="email">Email:</label>
            <input type="text" id="email" email="email"><br><br>
            <label for="comment">Comment:</label>
            <input type="text" id="comment" comment="comment"><br><br>
            <input type="submit" value="Submit">
        </form>

        <table>
            <tr><th>Phone Number</th><th>Email</th></tr>
            <tr><td>206-606-3080</td><td>justinw5@andrew.cmu.edu</td></tr>
        </table>
    </div>

    <footer>
        Copyright 2/26/2025 Justin Wu
    </footer>
    <body style="font-family:Arial"></body>
</body>
</html>