<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Justin Wu's website</title>

    <meta name="author" content="Justin Wu">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Justin Wu professional website">
    <title>Justin Wu</title>

</head>
<body>

    <header>
    <h1>Justin Wu</h1>
    <nav>
        <a href="../index.html">Home</a>
        <a href="cv.html">CV</a>
        <a href="contact.html">Contact me</a>
        <a href="fun.html">For fun</a>
    </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
    </div>
    <table>
        <tr><th>Name</th><th>Description</th></tr>
        <tr><td>Justin Wu</td><td><a href="../static/JW FINAL RESUME.pdf">Justin's resume</a> </td></tr>
    </table>
    <footer>
        Copyright 2/26/2025 Justin Wu
    </footer>
    <body style="font-family:Arial"></body>
</body>
</html>