<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Justin Wu's website</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <meta name="author" content="Justin Wu">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Justin Wu professional website">
    <title>Justin Wu</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer> </script> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body onload="addYear()">

    <header>
    <h1 id="webname">Justin Wu</h1>
    <nav class="nav">
        <button id="hamburgerBtn"><i class="fas fa-bars"></i></button>
        <a href="../index.html">Home</a>
        <a href="cv.html">CV</a>
        <a href="contact.html">Contact me</a>
        <a href="fun.html">For fun</a>
        <a href="../template.html">Alternate Layout</a>
    </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
    </div>
    <table>
        <tr><th id="tableheader">Name</th><th id="tableheader2">Description</th></tr>
        <tr><td>Swim Team Captain</td><td>Team Captain for swim team</td></tr>
        <tr><td>Co-Manager Bellevue Aquatic Center</td><td>Managed Lifeguards</td></tr>
        <tr><td>Givology</td><td>Business development Intern</td></tr>
        <tr><td>American Marketing Association</td><td>Consultant</td></tr>
    </table>

    <a href="../static/JW FINAL RESUME.pdf" target="_blank">Justin's resume</a> <br>

    <footer>
        <p>Copyright Justin Wu</p>
        <p id="copyYear"></p>
    </footer>
</body>
</html>