<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Justin Wu's website</title>

    <meta name="author" content="Justin Wu">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Justin Wu professional website">
    <title>Justin Wu</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>

    <header>
    <h1 id="webname">Justin Wu</h1>
    <nav class="nav">
        <a href="../index.html">Home</a>
        <a href="cv.html">CV</a>
        <a href="contact.html">Contact me</a>
        <a href="fun.html">For fun</a>
    </nav>
    </header>

    <div class="main">
        <h2>Things I love to do for fun</h2>
        <ul>
            <li>Skateboard</li>
            <li>Cook</li>
            <li>Go to the Gym</li>
            <li>Poker</li>
            <li>Read manga and watch anime</li>
        </ul>
    </div>

    <footer>
        Copyright 2/26/2025 Justin Wu
    </footer>
</body>
</html>