<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Justin Wu's website</title>

    <meta name="author" content="Justin Wu">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Justin Wu professional website">
    <title>Justin Wu</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer> </script> 
</head>
<body onload="addYear()">

    <header>
    <h1 id="webname">Justin Wu</h1>
    <nav class="nav">
        <a href="../index.html">Home</a>
        <a href="cv.html">CV</a>
        <a href="contact.html">Contact me</a>
        <a href="fun.html">For fun</a>
    </nav>
    </header>

    <div class="mainLayout">
        

        <div class="item1">
            <h2>Things I love to do for fun</h2>
        <!--<button id="button" onclick="showList()">Click to see...</button>-->
        <ul id="Hobbylist">
            <li>Skateboard</li>
            <li>Cook</li>
            <li>Go to the Gym</li>
            <li>Poker</li>
            <li>Read manga and watch anime</li>
        </ul>

        </div>
        <div class="item2">
        <img class="funIMG" src="../static/Gear_5_Infobox.jpg" alt="Picture of Luffy" >
        </div>
        <div class="item3">
            <iframe 
        src="https://www.youtube.com/embed/vpD0ngOT4Bw" 
        title="Workout Motivation Video" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen>
    </iframe>
        </div>

        <div class="item4">
            <div class="container">
                <h2>Need Some Advice?</h2>
                <p id="adviceText">Click the button to get a random piece of advice!</p>
                <button class="advice-btn" onclick="getAdvice()">Get Advice </button>
            </div>

        </div>
    </div>

    <footer>
        <p>Copyright Justin Wu</p>
        <p id="copyYear"></p>
    </footer>
</body>
</html>